<head>
  <title> Player Sign Up | Syd Cricket </title>
</head>

<div class="container center full-height">
  
  <div class="sign-up">
    <h1>Player Sign Up</h1>
    <% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |msg| %>
    <div class="errors u-mid-width center">
      <ol>
        <li><%= msg %></li>
      </ol>
    </div>
    <% end %>
    <% end %>

    <%= form_for(@player, :class => "u-mid-width", :html => { :multipart => true }) do |f| %>
  
        <%= f.label :email, :hidden => true %>
        <%= f.email_field :email, :placeholder => "Email Address", :class => "u-mid-width" %>
   
        <%= f.label :password, :hidden => true %>
        <%= f.password_field :password, :placeholder => "Password (6 to 20 characters)", :class => "u-mid-width" %>
        <br>
    
        <%= f.label :password_confirmation, :hidden => true %>
        <%= f.password_field :password_confirmation, :placeholder => "Confirm your password", :class => "u-mid-width" %>
   
      <%= f.submit("Get Started", :class => "gold u-full-width") %>
    <% end %>
    
    <%= button_to "/auth/google_oauth2", :id => "google-btn", :class => "button grey" do %> 
      <i id="g-icon" class="fa fa-google"></i>
    <% end %>
  </div>
</div>

<div class="wicket">
  <%= image_tag "wicket.svg" %>
</div>