
<head><title>Player Sign Up</title></head>

<h1>Player Sign Up</h1>

<% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |msg| %>
      <div class="error-container">
        <ul>
            <li><%= msg %></li>
        </ul>
      </div>
    <% end %>
<% end %>

<%= form_for (@player, :html => {:multipart => true}) do |f| %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label(:profile_image, "Profile Image")  %>
  <%= f.cl_image_upload(:profile_image) %>

  <%= f.label :password %>
  <%= f.password_field :password, :placeholder => "6 to 20 characters" %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

    <%= f.submit("Register") %>
<% end %>