
<head><title>Player Sign Up</title></head>

<h1>Player Sign Up</h1>

<% if @player.errors.any? %>
    <% @player.errors.full_messages.each do |msg| %>
      <div class="error-container">
        <ul>
            <li><%= msg %></li>
        </ul>
      </div>
    <% end %>
<% end %>

<%= form_for @player do |f| %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

    <%= f.submit("Register") %>
<% end %>