<head>
  <title><%= @player.first_name %> <%= @player.last_name %> | SydCricket</title>
</head>

<h1><%= @player.first_name %> <%= @player.last_name %></h1>

<%= cl_image_tag(@player.profile_image) %>

<% unless @player.team.nil? %>
<p><%= @player.team.name %></p>

<!--Player-->
<ul>
  <% @player.team.players.each do |player| %>
  <li><%= player.first_name %> <%= player.last_name %></li>
  <% end %>
</ul>

<!--Games-->
<p>Games</p>
<ul>
  <% if @player.team.games.present? %>
  <% @player.team.games.each do |game| %>
  <li><%= game.team1.name %> vs <%= game.team2.name %></li>
  <% end %>
  <% end  %>
</ul>
<% end %>

<p><%= @player.role %></p>
<p><%= @player.suburb %></p>
<p><%= @player.bio %></p>
<p><%= @player.grade %></p>

<% if @current_user.id == params[:id].to_i %>
<%= link_to("Edit Profile", edit_player_path(@player)) %>
<% unless @player.team.nil? %>
<%= link_to("Leave Team", leave_team_path(@player.team)) %>
<% end %>
<% end %>