<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to 'Home', root_path %>
    <%# User logged in %>
    <% if @current_user.present? %>
    <!-- Admin -->
      <% if @current_user.admin? %>
        <%= link_to "Users", users_path %>
        <%= link_to "Create a ground", new_ground_path %>
      <% end %>
      <!-- Everyone -->
      <%= link_to "Teams", teams_path %>
      <%= link_to "Players", players_path %>
      <%= link_to "Grounds", grounds_path %>
      <%= link_to "Games", games_path %>
      
      <!-- Teams -->
      <% if @current_user.user_role == "team" %>
          <%= link_to("Your Profile", team_path(@current_user)) %>
          <%= link_to("Create a game", new_game_path) %>
          <%= link_to "Logout #{@current_user.name}", login_path, :method => "delete" %>
      <% else %>
          <%= link_to("Your Profile", player_path(@current_user)) %>
          <%= link_to "Logout #{@current_user.first_name}", login_path, :method => "delete" %>
      <% end %>
      
    <% else %>
      <%= link_to 'Player Sign Up', new_player_path %>
      <%= link_to 'Team Sign Up', new_team_path %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </nav>
    <%= yield %>


  <footer></footer>
  </body>
</html>
